[Unit]
Description=node_exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ rabbitmq_node_exporter_user }}
Group={{ rabbitmq_node_exporter_group }}
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.systemd

[Install]
WantedBy=multi-user.target